@model dynamic;
@{
    ViewData["Title"] = "Detail";
}

<div style="display: flex; margin: 50px 0;">
    <img src="~/images/parks/@(Model.Park.ParkCode).jpg" id="parkImage" style="width: 66%" />
    <div id="parkInfo" style="padding: 10px 20px; border: 1px solid black; background-color: white; margin-left: 20px;">
        <p><span style="font-size:28px;">@Model.Park.ParkName</span></p>
        <!-- <p>@Model.Park.ParkCode</p>-->
        <p><b>State:</b> @Model.Park.State</p>
        <p><b>Acreage:</b> @Model.Park.Acreage</p>
        <p><b>Elevation:</b> @Model.Park.ElevationInFeet <i>ft</i></p>
        <p><b>Miles of Trail:</b> @Model.Park.MilesOfTrail</p>
        <p><b>Number of Campsites:</b> @Model.Park.NumberOfCampsites</p>
        <p><b>Climate:</b> @Model.Park.Climate</p>
        <p><b>Year Founded:</b> @Model.Park.YearFounded</p>
        <p><b>Annual Visitor Count:</b> @Model.Park.AnnualVisitorCount</p>
        <p><b>Entry Fee:</b> $@Model.Park.EntryFee</p>
        <p><b>Animal Species:</b> @Model.Park.NumberOfAnimalSpecies</p>
        <br />
        <blockquote style="width: 300px; text-align: center; border: none; margin: 0;">@Model.Park.InspirationalQuote</blockquote>
        <p style="padding-left: 30px;"> - @Model.Park.InspirationalQuoteSource</p>
    </div>
</div>

<p style="font-size: 16px; margin-bottom: 50px;">@Model.Park.ParkDescription</p>



<div id="ForecastHeader">
    <h3>5-Day Forecast</h3>
    <h4>
        <a asp-action="ChangeTemperatureUnits" asp-route-unit="F" asp-route-parkCode="@Model.Park.ParkCode">&#176;F</a> /
        <a asp-action="ChangeTemperatureUnits" asp-route-unit="C" asp-route-parkCode="@Model.Park.ParkCode">&#176;C</a>
    </h4>
</div>
<div id="ForecastBox" style="display: grid; grid-template-columns: 1fr 2fr; padding: 20px 0; background-color: #eee;">
    <div id="TodayForecast" style=" text-align: center; vertical-align: central; margin: 0 auto; padding: 0 5px; border: 1px solid black; background-color: white;">
        <h3>Today</h3>
        <img src="~/images/weather/@(Model.Forecast[0].ForecastString).png" />
        <div id="TodayHighLow" style="margin-bottom: 10px;">
            @if (ViewBag.TemperatureUnit == "F")
            {
                <span style="padding: 0 10px; font-size: 18px;"><b>High</b> @(Model.Forecast[0].High) &#176;F</span>
                <span style="padding: 0 10px; font-size: 18px;"><b>Low</b> @(Model.Forecast[0].Low) &#176;F</span>
            }
            @if (ViewBag.TemperatureUnit == "C")
            {
                <span style="padding: 0 10px; font-size: 18px;"><b>High</b> @(((double)(Model.Forecast[0].High - 32) / 1.8).ToString("#.#")) &#176;C</span>
                <span style="padding: 0 10px; font-size: 18px;"><b>Low</b> @(((double)(Model.Forecast[0].Low - 32) / 1.8).ToString("#.#")) &#176;C</span>
            }
        </div>
        <div id="TodayMessages" style="margin-bottom: 10px; padding: 0 10px;">
            @{

                foreach (String message in Model.Forecast[0].GenerateForecastMessages())
                {
                    <p>@message</p>
                }
            }
        </div>
    </div>
    <div id="FutureForecast" style="display: flex;  text-align: center; align-items: flex-start;">

        <div id="Day2Forecast" style="margin:0 10px; border: 1px solid black; background-color: white; padding-top: 1px;">
            <img src="~/images/weather/@(Model.Forecast[1].ForecastString).png" style="width:75%;" />
            <div id="Day2HighLow">
                @if (ViewBag.TemperatureUnit == "F")
                {
                    <h5><b>High</b> @(Model.Forecast[1].High) &#176;F</h5>
                    <h5><b>Low</b> @(Model.Forecast[1].Low) &#176;F</h5>
                }
                @if (ViewBag.TemperatureUnit == "C")
                {
                    <h5><b>High</b> @(((double)(Model.Forecast[1].High - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                    <h5><b>Low</b> @(((double)(Model.Forecast[1].Low - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                }
            </div>
            <div id="Day2Messages">
                @{

                    foreach (String message in Model.Forecast[1].GenerateForecastMessages())
                    {
                        <p style="max-width: 150px; margin: auto; padding-bottom: 10px;">@message</p>
                    }
                }
            </div>
        </div>

        <div id="Day3Forecast" style="margin:0 10px; border: 1px solid black; background-color: white; padding-top: 1px;">
            <img src="~/images/weather/@(Model.Forecast[2].ForecastString).png" style="width:75%;" />
            <div id="Day3HighLow">
                @if (ViewBag.TemperatureUnit == "F")
                {
                    <h5><b>High</b> @(Model.Forecast[2].High) &#176;F</h5>
                    <h5><b>Low</b> @(Model.Forecast[2].Low) &#176;F</h5>
                }
                @if (ViewBag.TemperatureUnit == "C")
                {
                    <h5><b>High</b> @(((double)(Model.Forecast[2].High - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                    <h5><b>Low</b> @(((double)(Model.Forecast[2].Low - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                }
            </div>
            <div id="Day3Messages">
                @{

                    foreach (String message in Model.Forecast[2].GenerateForecastMessages())
                    {
                        <p style="max-width: 150px; margin: auto; padding-bottom: 10px;">@message</p>
                    }
                }
            </div>
        </div>

        <div id="Day4Forecast" style="margin:0 10px; border: 1px solid black; background-color: white; padding-top: 1px;">
            <img src="~/images/weather/@(Model.Forecast[3].ForecastString).png" style="width:75%;" />
            <div id="Day4HighLow">
                @if (ViewBag.TemperatureUnit == "F")
                {
                    <h5><b>High</b> @(Model.Forecast[3].High) &#176;F</h5>
                    <h5><b>Low</b> @(Model.Forecast[3].Low) &#176;F</h5>
                }
                @if (ViewBag.TemperatureUnit == "C")
                {
                    <h5><b>High</b> @(((double)(Model.Forecast[3].High - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                    <h5><b>Low</b> @(((double)(Model.Forecast[3].Low - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                }
            </div>
            <div id="Day4Messages">
                @{

                    foreach (String message in Model.Forecast[3].GenerateForecastMessages())
                    {
                        <p style="max-width: 150px; margin: auto; padding-bottom: 10px;">@message</p>
                    }
                }
            </div>
        </div>

        <div id="Day5Forecast" style="margin:0 10px; border: 1px solid black; background-color: white; padding-top: 1px;">
            <img src="~/images/weather/@(Model.Forecast[4].ForecastString).png" style="width:75%;" />
            <div id="Day5HighLow">
                @if (ViewBag.TemperatureUnit == "F")
                {
                    <h5><b>High</b> @(Model.Forecast[4].High) &#176;F</h5>
                    <h5><b>Low</b> @(Model.Forecast[4].Low) &#176;F</h5>
                }
                @if (ViewBag.TemperatureUnit == "C")
                {
                    <h5><b>High</b> @(((double)(Model.Forecast[4].High - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                    <h5><b>Low</b> @(((double)(Model.Forecast[4].Low - 32) / 1.8).ToString("#.#")) &#176;C</h5>
                }
            </div>
            <div id="Day5Messages">
                @{

                    foreach (String message in Model.Forecast[4].GenerateForecastMessages())
                    {
                        <p style="max-width: 150px; margin: auto; padding-bottom: 10px;">@message</p>
                    }
                }
            </div>
        </div>
    </div>
</div>