@model Park;
@{
    ViewData["Title"] = "Detail";
}

<img src="~/images/parks/@(Model.ParkCode).jpg" />

<h2>@Model.ParkName - @Model.ParkCode</h2>

<p>@Model.State</p>
<p>Acreage: @Model.Acreage</p>
<p>Elevation: @Model.ElevationInFeet <i>ft</i></p>
<p>Miles of Trail: @Model.MilesOfTrail</p>
<p>Number of Campsites: @Model.NumberOfCampsites</p>
<p>Climate: @Model.Climate</p>
<p>Year Founded: @Model.YearFounded</p>
<p>Annual Visitor Count: @Model.AnnualVisitorCount</p>
<blockquote>@Model.InspirationalQuote</blockquote>
<p> - @Model.InspirationalQuoteSource</p>
<p>@Model.ParkDescription</p>
<p>Entry Fee: $@Model.EntryFee</p>
<p>Animal Species: @Model.NumberOfAnimalSpecies</p>